<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Animal-form</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class=" container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>

        <div class="col-sm-4" id="center">


            <div id="pic" class="img-responsive">

            </div>
            <h4><a href="/">Home</a></h4>

            <h1>Animal details</h1>

            {{#if animalName}}
                {{#each animalName}}
                    <h5> Name:{{animalName}}</h5>
                    <h5>Reported by: {{rangerName}}</h5>
                    <h5>Location:{{location}}</h5>
                    <h5>Health: {{health}}</h5>
                    <h5>Age: {{age}}</h5>
                {{/each}}
            {{else}}
                <p>To report a sighting, please visit the <a href="/">home page</a>.</p>
            {{/if}}
        </div>

        <div class="col-sm-4" id="col3">
            <div id="after_submit">
                <p id="message"></p>
                <p id="number_correct"></p>
                <img id="picture">
            </div>
        </div>
    </div>

</div>

</body>

</html>
</body>
</html>